body{
    background-size: cover;
    text-align: center;
    font-size: 110%;
    font-family: 'Montserrat', sans-serif;
}

h1{
    color: rgb(207,197,187);
}

h4{
    color: rgb(168,86,88);
    -webkit-animation: 1s linear 0s 1 slideUp;
            animation: 1s linear 0s 1 slideUp;
}

#image{
    height: 35vh;
    width: 20vw;
    margin-top: 1%;
}

#choose{
    -webkit-animation: 2s linear 0s 1 slideUp;
            animation: 2s linear 0s 1 slideUp;
    color: rgb(207,197,187);
}

#image{
    -webkit-animation: 2s linear 0s 1 slideDown;
            animation: 2s linear 0s 1 slideDown;
}

@-webkit-keyframes slideUp{
    0% { -webkit-transform: translateY(-100%); transform: translateY(-100%);}
    100% { -webkit-transform: translateY(0); transform: translateY(0);}
}

@keyframes slideUp{
    0% { -webkit-transform: translateY(-100%); transform: translateY(-100%);}
    100% { -webkit-transform: translateY(0); transform: translateY(0);}
}

@-webkit-keyframes slideDown{
    0% { -webkit-transform: translateY(30%); transform: translateY(30%);}
    100% { -webkit-transform: translateY(0); transform: translateY(0);}
}

@keyframes slideDown{
    0% { -webkit-transform: translateY(30%); transform: translateY(30%);}
    100% { -webkit-transform: translateY(0); transform: translateY(0);}
}

button{
    margin-top: 2%;
    margin-left: 2%;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(172,155,145,0.8);
    -webkit-box-shadow: 0 3px #666;
            box-shadow: 0 3px #666;
}

button:hover{
    background-color: rgba(172,155,145,1.2);
}